{% extends "base.html" %}
{% load staticfiles %}
{% block boxtitle %}
    作者详细信息
{% endblock %}
{% block currentauthor %}current{% endblock %}
{% block content %}
<h1 style="position: inherit; color: #222222;margin-bottom: 20px">{{ object.Name }}</h1>
<p>Age: {{ object.Age }}</p>
<p>Country: {{ object.get_Country_display }}</p>
<p>AuthorID: {{  object.AuthorID  }}</p>
<p style="font-size: large">
<a href="../../update/{{ object.AuthorID }}" class="large buttoni blue">修改信息</a>
<a href="../../delete/{{ object.AuthorID }}" class="large buttoni red">删除信息</a>
</p>
{% endblock %}