{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>
                <input class="check-all" type="checkbox"/>
            </th>
            <th>作家ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>国籍</th>
            <th>操作</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="6">
                <div class="bulk-actions align-left">
                    <select name="dropdown">
                        <option value="option1">Choose an action...</option>
                        <option value="option2">Edit</option>
                        <option value="option3">Delete</option>
                    </select>
                    <a class="button" href="#">Apply to selected</a></div>
                <div class="pagination"><a href="#" title="First Page">&laquo; First</a><a href="#"
                                                                                           title="Previous Page">&laquo;
                    Previous</a> <a href="#" class="number" title="1">1</a> <a href="#" class="number" title="2">2</a>
                    <a href="#" class="number current" title="3">3</a> <a href="#" class="number" title="4">4</a> <a
                            href="#" title="Next Page">Next &raquo;</a><a href="#" title="Last Page">Last &raquo;</a>
                </div>
                <!-- End .pagination -->
                <div class="clear"></div>
            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for author in object_list %}
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td>{{ author.AuthorID }}</td>
            <td>{{ author.Name }}</td>
            <td>{{ author.Age }}</td>
            <td>{{ author.Country }}</td>
            <td>
                <!-- Icons -->
                <a href='./update/{{ author.AuthorID }}' title="Edit"><img src="{% static 'images/icons/pencil.png' %}" alt="Edit"/></a>
                <a href='./delete/{{ author.AuthorID }}' title="Delete"><img src="{% static 'images/icons/cross.png' %}" alt="Delete"/></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}