{% extends "base.html" %}
{% block currentbook %}current{% endblock %}
{% load staticfiles %}

{% block boxtitle %}
    图书列表
{% endblock %}

{% block content %}
    <form method="post" action="./deleteAll">{% csrf_token %}
    <table>
        <thead>
        <tr>
            <th>
                <input class="check-all" type="checkbox"/>
            </th>
            <th>书本ISBN</th>
            <th>书名</th>
            <th>作者</th>
            <th>发行商</th>
            <th>发行日期</th>
            <th>价格</th>
            <th>操作</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="6">
                <div class="bulk-actions align-left">
                    <input type="submit" class="button" value="Delete selected"/></div>
                <!-- End .pagination -->
                <div class="clear"></div>
            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for book in object_list %}
        <tr>
            <td>
                <input type="checkbox" name="{{ book.ISBN }}" />
            </td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.Title }}</td>
            <td>{{ book.Author }}</td>
            <td>{{ book.Publisher }}</td>
            <td>{{ book.PublishDate }}</td>
            <td>{{ book.Price }}</td>

            <td>
                <!-- Icons -->
                <a href='./update/{{ book.ISBN }}' title="Edit"><img src="{% static 'images/icons/pencil.png' %}" alt="Edit"/></a>
                <a href='./delete/{{ book.ISBN }}' title="Delete"><img src="{% static 'images/icons/cross.png' %}" alt="Delete"/></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
{% endblock %}